<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhp.buss.model.cmaq.dao.WryMapper">

    <select id="findWrysByCmaqId" resultType="com.yhp.buss.model.cmaq.domain.Wry">
        SELECT * FROM model_cmaq_wry WHERE cmaq_id = #{cmaqId} ORDER BY create_time
    </select>
</mapper>
